<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="ur3e_gripper">

  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>

  

  <!-- common stuff -->
  <xacro:include filename="$(find pick_and_place)/urdf/ur3e_common.gazebo.xacro" />

  <!-- ur3e -->
  <xacro:include filename="$(find pick_and_place)/urdf/ur3e.urdf.xacro" />

  <!-- arm -->
  <xacro:arg name="kinematics_config" default="$(find pick_and_place)/config/ur3_default.yaml"/>
  <xacro:ur3e_robot prefix="" joint_limited="true"
    shoulder_pan_lower_limit="${-pi}" shoulder_pan_upper_limit="${pi}"
    shoulder_lift_lower_limit="${-pi}" shoulder_lift_upper_limit="${pi}"
    elbow_joint_lower_limit="${-pi}" elbow_joint_upper_limit="${pi}"
    wrist_1_lower_limit="${-pi}" wrist_1_upper_limit="${pi}"
    wrist_2_lower_limit="${-pi}" wrist_2_upper_limit="${pi}"
    wrist_3_lower_limit="${-pi}" wrist_3_upper_limit="${pi}"
    transmission_hw_interface="$(arg transmission_hw_interface)"
    kinematics_file="${load_yaml('$(arg kinematics_config)')}"
  />

  <link name="world"/>

  <link name="desk_link">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 ${-pi/2}"/>
      <geometry>
        <mesh filename="package://pick_and_place/meshes/desk.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 ${-pi/2}"/>
      <geometry>
        <mesh filename="package://pick_and_place/meshes/desk.dae"/>
      </geometry>
    </collision>
    <inertial>
        <mass value="13.887"/>
        <inertia ixx="1.050e+09" ixy="0.001" ixz="-0.009" iyy="2.018e+09" iyz="3.428e+07" izz="1.795e+09"/>
      </inertial>
  </link>

  <joint name="world_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0"/>
    <parent link="world"/>
    <child link="desk_link"/>
  </joint>

  <joint name="pedestal_joint" type="fixed">
    <origin xyz="0.15 0.0 0.7"/>
    <parent link="desk_link"/>
    <child link="base_link"/>
  </joint>

  <link name="camera_link">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
      <material name="Cyan">
        <color rgba="0.0 1.0 0.0 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="0.5"/>
      <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01" />
    </inertial>
  </link>

  <joint name="camera_joint" type="fixed">
    <origin xyz="0.3 0.0 2.0" rpy="0.0 ${pi/2} ${pi/2}"/>
    <parent link="world"/>
    <child link="camera_link"/>
  </joint>

  <gazebo reference="camera_link">
    <material>Gazebo/Gray</material>
    <sensor type="camera" name="camera1">
        <update_rate>30.0</update_rate>
        <camera name="head">
            <horizontal_fov>1.3962634</horizontal_fov>
            <image>
            <width>640</width>
            <height>360</height>
            <format>R8G8B8</format>
            </image>
            <clip>
            <near>0.02</near>
            <far>300</far>
            </clip>
            <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.007</stddev>
            </noise>
        </camera>
        <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
            <alwaysOn>true</alwaysOn>
            <updateRate>0.0</updateRate>
            <cameraName>camera</cameraName>
            <imageTopicName>image_raw</imageTopicName>
            <cameraInfoTopicName>camera_info</cameraInfoTopicName>
            <frameName>camera_link</frameName>
            <hackBaseline>0.07</hackBaseline>
            <distortionK1>0.0</distortionK1>
            <distortionK2>0.0</distortionK2>
            <distortionK3>0.0</distortionK3>
            <distortionT1>0.0</distortionT1>
            <distortionT2>0.0</distortionT2>
        </plugin>
    </sensor>
  </gazebo>

</robot>
